@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(0deg, #e9e9f9 0.76%, rgba(225, 226, 255, 0) 100%);
}
@layer base {
  body {
    @apply text-[1em] font-Outfit bg-[#F2F9FF] overflow-x-hidden;
  }
}
@layer components {
  .btn-ptimary {
    @apply inline-flex text-white bg-[#2476FF] border-0 py-2 px-6 focus:outline-none hover:bg-opacity-90 rounded-lg text-lg;
  }
  .bnt-secondary {
    @apply inline-flex text-gray-700 bg-white border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded-lg text-lg;
  }
}
@layer utilities {
  .feture-shadow {
    box-shadow: 0px 12px 37px rgba(108, 61, 244, 0.1);
    border-radius: 12px;
  }
  .card-shadow {
    box-shadow: 0px 10px 34px rgba(108, 61, 244, 0.21);
    border-radius: 12px;
  }
  .feature-card-shadow {
    box-shadow: 0px 22px 37px rgba(108, 61, 244, 0.04);
  }
  .hero-gradient {
    background: linear-gradient(
      0deg,
      #e9e9f9 0.76%,
      rgba(225, 226, 255, 0) 100%
    );
  }
}
